<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>namoo.tutorial.servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GugudanServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.GugudanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GugudanServlet</servlet-name>
    <url-pattern>/gugudan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifecycleServlet</display-name>
    <servlet-name>LifecycleServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.LifecycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifecycleServlet</servlet-name>
    <url-pattern>/cycle.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MimeServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.MimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MimeServlet</servlet-name>
    <url-pattern>/mime.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWriteServlet</display-name>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/db.do</url-pattern>
  </servlet-mapping>
</web-app>